@model IEnumerable<SachOnline.Models.NhaXuatBan>

<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">SÁCH THEO CHỦ ĐỀ</li>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoNhaXuatBan","SachOnline", new { id = item.MaNXB})" class="list-group-item">@item.TenNXB</a>

    }
</ul>
